<!DOCTYPE html>
<html>
  <head>
    <title>FSLR</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
</head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">FSRL</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/books">Book List</a></li>
            <li><a href="/new">Add New Book</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">

              </div>

            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Steven Castroverde
            </div>
          </div>
        </footer>

  </body>
</html>
