


<h1>{{data.Title}}</h1>
<p>
  Number of Pages:
  {{data.Page_Count}}

  Language(s) Covered:
  {{data.programming_language}}

  ISBN:
  {{data.ISBN}}
</p>

<a class="btn waves-light">Mark as Read</a>
